  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Om KU-Liv</h6>
            <p class="text-justify">
              Hej og velkommen til Fællesskabet. Vi tilbyder nem adgang til forskellige Discord server, mange af
              dem drevet af studerende selv. Regler kan variere fra server til server, dertil skal du kontakte den pågældende servers admin/mods.
              Hjertelig velkommen til fællesskabet!
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Links</h6>
            <ul class="footer-links">
              <li><a href="">Kontakt os</a></li>
              <li><a href="">Bliv frivillig</a></li>
              <li><a href="">Rapporter fejl</a></li>
              <li><a href="">Servicevilkår</a></li>
              <li><a href="">Software licens og tak</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6><a>Tilføj dit fælleskab</a></h6>
            <ul class="footer-links">
              <li><a href="">Klik her!</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Udviklet af studenterforeningen KU-Liv for studerende</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>