@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_loaded)
{
    @ChildContent
}
else
{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <h3>kuliv.dk</h3>
        <p>is currently loading</p>
        <Loading></Loading>
    </div>
}

@code {

    bool _loaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _loaded = true;
    }


}