@using Dikubot.Webapp.Authentication
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KULiv</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView Roles="@Permissions.GuildAdmin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/admin" on>
                    <span class="oi oi-command" aria-hidden="true"></span> Admin indstillinger
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/profile" on>
                <span class="oi oi-person" aria-hidden="true"></span> Min Profil
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/changeguild" on>
                <span class="oi oi-cloud" aria-hidden="true"></span> Skift fællesskab
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Account/Logout" on>
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}