@page "/admin/courses"
@attribute [Authorize(Roles = "MOD, ADMIN")]
<div class="page-body">
    @if (EditMode)
    {
        <h3>Kursus Editor</h3>
    }
    else
    {
        <h3>Kursus Admin Oversigt</h3>
        <BFUCommandButton ClassName="button" Text="Tilføj nyt kursus" Primary="true" OnClick="CreateCourseButton"/>
        <CourseList/>
    }
</div>

@code {
    public bool EditMode = false;

    private async void CreateCourseButton()
    {
        EditMode = true;
        await InvokeAsync(() => {StateHasChanged();});
    }

    public async void Update()
    {
        await InvokeAsync(() => { StateHasChanged(); });
    }
}