@page "/admin/groups"
@attribute [Authorize(Roles = "MOD, ADMIN")]
<div class="page-body">
    @if (EditMode)
    {
        <h3>Kursus Editor</h3>
    }
    else
    {
        <h3>Kursus Admin Oversigt</h3>
        <BFUCompoundButton ClassName="button" Text="Tilføj ny gruppe" Primary="true" OnClick="CreateGroupButton"/>
    }
</div>

@code {
    public bool EditMode = false;

    private async void CreateGroupButton()
    {
        EditMode = true;
        await InvokeAsync(() => {StateHasChanged();});
    }
    
    public async void Update()
    {
        await InvokeAsync(() => { StateHasChanged(); });
    }
}