@page "/addguild"
<h3>AddGuild</h3>

@code {
    
}
<MudButton Style="margin-top: 15px;" FullWidth="@true" Link="@Environment.GetEnvironmentVariable("BOT_INVITE")" Variant="Variant.Outlined" Color="Color.Primary">Tilføj dit eget fælleskab til KULiv</MudButton>