@page "/changeguild"
@using Dikubot.DataLayer.Database.Global.User.DiscordUser
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject UserService _userService;
@inject DiscordUserGlobalMongoService DiscordUserGlobalMongoService

<h3>Skifter fællesskab ...</h3>

@code {

    [CascadingParameter]
    protected App App { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DiscordUserGlobalModel discordUserGlobalModel = _userService.GetUserGlobalModel();
        discordUserGlobalModel.SelectedGuild = 0;
        DiscordUserGlobalMongoService.Upsert(discordUserGlobalModel);
        App.UserHasChange();
        NavigationManager.NavigateTo("/");
        StateHasChanged();
    }

}