@page "/equipment"
@using Dikubot.Webapp.Authentication
@using Dikubot.Webapp.Authentication.Identities

@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Equipment</h3>

<EquipmentWidget GuildId="@_discord.DiscordUserGlobalModel.SelectedGuild"> </EquipmentWidget>


@code{
    private DiscordIdentity _discord;
    private Authenticator authenticator;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        authenticator = (Authenticator)AuthenticationStateProvider;
        AuthenticationState authState = await authenticator.GetAuthenticationStateAsync();
        _discord = (DiscordIdentity)authState.User.Identity;
        if (_discord == null)
        {
        }
    }

}