@page "/group"
<h3>Vælg fag / gruppe</h3>

<link href="css/diku/index.css" rel="stylesheet"/>
<div>
    <div class="header">
        <h1>Vælg fag / gruppe</h1>
        <p class="info-dump">
            Klik på knapperne for at slå roller til og fra på Discord serveren.
        </p>
    </div>
    <div class="line"></div>
    <div class="page-body">
        <GroupButton Role="DIKU"></GroupButton>
        <GroupButton Role="Datalog"></GroupButton>
        <GroupButton Role="Machine Learning"></GroupButton>
        <GroupButton Role="Datalogi-Økonomi"></GroupButton>
        <GroupButton Role="Matematik"></GroupButton>
        <GroupButton Role="Gamer"></GroupButton>
        <GroupButton Role="Weeb"></GroupButton>
        <GroupButton Role="DND"></GroupButton>
    </div>
</div>

@code {
    
}