@page "/"
@using Dikubot.Webapp.Authentication

<link href="css/diku/index.css" rel="stylesheet"/>
<div>
    <div class="header">
        <h1>Velkommen til DIKU</h1>
        <p class="info-dump">
            På DIKU Discord hjemmesiden kan du selv vælge hvilke kursus kanaler du vil se på Discord.
            For at gøre dette, kan du vælge imellem at følge en kursus pakke, som automatisk til- og framelder dig en række kurser. 
            Du kan også selv vælge hvilke kursus kanaler du vil se - og hvornår du vil se dem.
        </p>
    </div>
    <div class="line"></div>
    <div class="page-body">
        <MudButton Class="button">Vælg Fag / Gruppe</MudButton>
        <AuthorizeView Roles="TA, MOD, ADMIN">
        </AuthorizeView>
        <AuthorizeView Roles="@Permissions.GuildAdmin">
            <a href="/admin"><MudButton Class="button" Disabled="true">Mod Kontrolpanel</MudButton></a>
        </AuthorizeView>
    </div>
</div>

@code {

}