@page "/"

<link href="css/diku/index.css" rel="stylesheet"/>
<div>
    <div class="header">
        <h1>Bland selv roller</h1>
        <p class="info-dump">
            På DIKU Discord hjemmesiden kan du selv vælge hvilke kursus kanaler du vil se på Discord.
            For at gøre dette, kan du vælge imellem at følge en kursus pakke, som automatisk til- og framelder dig en række kursuser udfra på normeret tid,
            eller du kan selv vælge hvilke kursus kanaler du vil se - og hvornår du vil se dem.
        </p>
    </div>
    <div class="line"></div>
    <div class="page-body">
        <BFUCompoundButton ClassName="button" Text="Kursus Pakker" Primary="true" SecondaryText="Er du ny på DIKU? Klik her!"/>
        <BFUCompoundButton ClassName="button" Text="Kursus Oversigt" SecondaryText="Vælg individuelle kurser"/>
        <BFUCompoundButton ClassName="button" Text="Event Oversigt" Disabled="true" SecondaryText="Kommer snart!"/>
        <BFUCompoundButton ClassName="button" Text="Anmod Rolle" SecondaryText="Er du VIP, TA, RKG eller mentor? Klik her!"/>
        <AuthorizeView Roles="TA, MOD">
            <BFUCompoundButton ClassName="button" Text="TA Kontrolpanel" Disabled="true" SecondaryText="Kommer snart!"/>
        </AuthorizeView>
        <AuthorizeView Roles="MOD">
            <BFUCompoundButton ClassName="button" Text="Mod Kontrolpanel" Disabled="true" SecondaryText="Kommer snart!"/>
        </AuthorizeView>
    </div>
</div>

@code {

}