@page "/profile"
@using Dikubot.Webapp.Authentication
@using Dikubot.Webapp.Authentication.Identities
@using Dikubot.DataLayer.Database.Global.User.DiscordUser
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DiscordUserGlobalMongoService DiscordUserGlobalMongoService

<h3>Profile</h3>
@if (_loaded)
{
    <MudSwitch Label="Dark theme" @bind-Checked="@_discord.DiscordUserGlobalModel.DarkTheme"></MudSwitch>
    <MudButton Color="Color.Success" OnClick="() => DiscordUserGlobalMongoService.Update(_discord.DiscordUserGlobalModel)">Gem ændringer</MudButton>
}
else
{
    <Loading></Loading>
}


@code {
    private Authenticator authenticator;
    private DiscordIdentity _discord;
    private bool _loaded;

    protected override async Task OnInitializedAsync()
    {
        authenticator = (Authenticator)AuthenticationStateProvider;
        AuthenticationState authState = await authenticator.GetAuthenticationStateAsync();
        _discord = (DiscordIdentity)authState.User.Identity;
        _loaded = true;
    }

}