@page "/profile"
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.Webapp.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserGlobalMongoService UserGlobalMongoService

<h3>Profile</h3>
@if (_loaded)
{
    <MudSwitch Label="Dark theme" @bind-Checked="@user.UserGlobalModel.DarkTheme"></MudSwitch>
    <MudButton Color="Color.Success" OnClick="() => UserGlobalMongoService.Update(user.UserGlobalModel)">Gem ændringer</MudButton>
}
else
{
    <Loading></Loading>
}


@code {
    private Authenticator authenticator;
    private UserIdentity user;
    private bool _loaded;

    protected override async Task OnInitializedAsync()
    {
        authenticator = (Authenticator)AuthenticationStateProvider;
        AuthenticationState authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity)authState.User.Identity;
        _loaded = true;
    }

}