@page "/profile"
@using System.Security.Claims
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.Webapp.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider


<h3>Profile</h3>
<p>Denne side er ved at blive udviklet</p>
@if (_loaded)
{
    <MudSwitch Label="Dark theme" @bind-Checked="@user.UserGlobalModel.DarkTheme"></MudSwitch>
    <MudButton Color="Color.Success" OnClick="() => _userGlobalMongoService.Update(user.UserGlobalModel)">Gem ændringer</MudButton>
}
else
{
    <Loading></Loading>
}


@code {
    private Authenticator authenticator;
    private UserIdentity user;
    private bool _loaded = false;
    private UserGlobalMongoService _userGlobalMongoService;

    protected override async Task OnInitializedAsync()
    {
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity) authState.User.Identity;
        _userGlobalMongoService = new UserGlobalMongoService();
        _loaded = true;
    }

}