@page "/volunteer"
<h3>Bliv frivillig</h3>
<p>Vi mangler folk der har lyst til at hjælpe! Det er lige meget hvad du kan, vi skal nok finde noget sjovt, hvis du er frisk!
    Skriv en mail til admin@kuliv.dk eller find os på Discord</p>
@code {
    
}