@page "/searchbartest"
@using Dikubot.DataLayer.Database.Global.Settings.Tags
@using Dikubot.DataLayer.Database.Global.Settings.Tags
@using Dikubot.DataLayer.Database.Global.GuildSettings;
@using Dikubot.Extensions.search
@using Dikubot.Webapp.Extensions.Discovery.Links
@using System.Reflection

@inject NavigationManager NavigationManager


    
<div class="d-flex flex-row gap-8 justify-center flex-wrap" style="margin-top: 20px;
margin-left: auto; margin-right: auto;">
<Searchbar Items="_models" Context="UnionModel">
    <TemplateRow Context="unionModel" >
        <UnionWidget Union="unionModel"></UnionWidget>
    </TemplateRow>
</Searchbar>
</div>

<MudButton Color="Color.Primary" FullWidth="@true" OnClick="@GotoAddGuild" Style="margin-top: 15px;" Variant="Variant.Outlined">Tilføj dit eget fælleskab til KULiv</MudButton>

@code {

    public GuildSettingsService _GuildSettingsService = new GuildSettingsService();
    readonly UnionServices _services = new UnionServices();
    
    public List<UnionModel> _models { get; set; }

    protected override void OnInitialized()
    {
        var list = _services.GetAll();
        var list2 = _GuildSettingsService.Get().Where(model => model.IsPublic).Select(model => new UnionModel(model));
        list.AddRange(list2);
        
        _models = list.OrderBy(model => model.Title).ToList();
        
        base.OnInitialized();
    }
    
    private void GotoAddGuild()
    {
        NavigationManager.NavigateTo("/Request/Union/create");
    }
    
    
}