@page "/op"
@using Dikubot.Webapp.Authentication
@attribute [Authorize(Roles = Permissions.GlobalAdmin)]

<h3>Intet her... endnu ;)</h3>



<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardHeader>
                    <MudIcon Icon="@Icons.Filled.Settings"></MudIcon>
                    <MudText Typo="Typo.h5">Tags</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Her kan du tilføje, fjeren og Tags</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/Op/Tags">
                        Gå til Tags
                    </MudButton>
                </MudCardActions>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/Op/Tags" Disabled="ShouldRender()">
                        Requests
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardHeader>
                    <MudIcon Icon="@Icons.Filled.Settings"></MudIcon>
                    <MudText Typo="Typo.h5">Unions</MudText>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">Her kan du til føje og jerne Unions</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/Op/Union">
                        Gå til Unions
                    </MudButton>
                </MudCardActions>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/Op/Union/Request">
                        Gå til Requests
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    
        </MudGrid>
    
    
</MudContainer>
@code {
    
}