@page "/op"
@using Dikubot.Webapp.Authentication
@attribute [Authorize(Roles = Permissions.GlobalAdmin)]

<h3>Intet her... endnu ;)</h3>

<MudCardActions>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="/Op/Tags">Gå til Tags</MudButton>
</MudCardActions>


@code {
    
}