
@using global::Discord.WebSocket
@using Dikubot.Discord.Command
@using Dikubot.DataLayer.Logic.User
@using Dikubot.DataLayer.Static
@using Dikubot.Discord
@using global::Discord
@using Azure.Core
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OAuth
@using Microsoft.AspNetCore.Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@using Microsoft.Net.Http
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Options
@using Newtonsoft.Json.Linq
@using System.Net.Http.Headers
@using System.Security.Claims
@using global::Discord.Rest
@using System.Configuration
@using System.IO
@using System.Net
@using System.Text
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using Microsoft.Extensions.Configuration
@using Color = MudBlazor.Color

<link href="css/diku/login.css" rel="stylesheet"/>
<h1>Velkommen til KU-Liv</h1>

@if (discordUser == null && !loading)
{
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h6">Log-in med Discord</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body1">For at tilgå KULiv, skal du logge ind med en Discord bruger.</MudText>
        </MudCardContent>
        <MudCardActions>
            <a href="@loginURL()"><MudButton Variant="Variant.Filled" Color="Color.Primary">Login med Discord</MudButton></a>
            <a href="https://dnur.dk/"><MudButton Variant="Variant.Text" Color="Color.Primary">Klik her for hjælp</MudButton></a>
        </MudCardActions>
    </MudCard>
}
else if (discordUser != null)
{
    <MudCard>
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Image="@discordUser.GetAvatarUrl()" Size="Size.Large" Color="Color.Primary"></MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                 <MudText Typo="Typo.h6">Er dette dig?</MudText>
                <MudText Typo="Typo.body1">@DiscordNameMentionCombo(discordUser)</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardActions>
            <MudButton Color="Color.Success" OnClick=@(ApproveDiscord)>Ja, godkend</MudButton>
            <MudButton Color="Color.Error" OnClick=@(RejectDiscord)>Nej, afvis</MudButton>
        </MudCardActions>
    </MudCard>
}




@code {
    [Parameter]
    public Login parent { get; set; }
    
    [Parameter]
    public string AuthCode { get; set; }
    
    
    private string password;
    private Authenticator authenticator;
    private IUser discordUser;
    private string client_id, client_secret, redirect_url;
    private bool loading;
    
    protected override async Task OnInitializedAsync()
    {
        loading = true;
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        UserIdentity user = (UserIdentity) authState.User.Identity;

        client_id = Configuration.GetValue<string>("DiscordAuth:CLIENT_ID");
        client_secret = Configuration.GetValue<string>("DiscordAuth:CLIENT_SECRET");
        redirect_url = NavigationManager.BaseUri;
        
        if (AuthCode != null)
        {
            try
            {
                JObject discordUserJson = GetUser(GetAuthtoken(AuthCode));
                ulong discordUserId = Convert.ToUInt64(discordUserJson["id"]);
                discordUser = await DiscordBot.Client.GetUserAsync(discordUserId);
                await InvokeAsync(() => { StateHasChanged(); });
            }
            catch (Exception e)
            {
            // ignored
            }
        }
        loading = false;

    }

    public async void DiscordConnected(SocketUser user)
    {
        discordUser = user;
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private string DiscordNameMentionCombo(IUser user)
    {
        return $"{user.Username}#{user.Discriminator}";
    }


    public string GetContactMessage()
    {
        return $"Send den følgende kommando til botten {DiscordBot.Client.CurrentUser.Username}#{DiscordBot.Client.CurrentUser.Discriminator}.";
    } 

    private async Task RejectDiscord()
    {
        discordUser = null;
        await OnInitializedAsync();
        await InvokeAsync(() => { StateHasChanged(); });
    }

    private async Task ApproveDiscord()
    {
        UserGlobalServices userServices = new UserGlobalServices();
        if (!userServices.Exists(discordUser))
        {
            UserGlobalModel userModel = new UserGlobalModel {DiscordId = discordUser.Id.ToString()};
            userServices.Upsert(userModel);
        }
        
        SessionModel sessionModel = new SessionModel(userServices.Get((discordUser.Id.ToString())));
        await authenticator.UpdateSession(sessionModel);
        parent.Update();
    }
    
    
    // https://www.yogihosting.com/discord-api-asp-net/
    public string GetAuthtoken(string authCode)
    {
        
        /*Get Access Token from authorization code by making http post request*/
        HttpWebRequest webRequest = (HttpWebRequest)WebRequest.Create("https://discordapp.com/api/oauth2/token");
        webRequest.Method = "POST";
        string parameters = "client_id=" + client_id + "&client_secret=" + client_secret + "&grant_type=authorization_code&code=" + authCode + "&redirect_uri=" + redirect_url + "";
        byte[] byteArray = Encoding.UTF8.GetBytes(parameters);
        webRequest.ContentType = "application/x-www-form-urlencoded";
        webRequest.ContentLength = byteArray.Length;
        Stream postStream = webRequest.GetRequestStream();
  
        postStream.Write(byteArray, 0, byteArray.Length);
        postStream.Close();
        WebResponse response = webRequest.GetResponse();
        postStream = response.GetResponseStream();
        StreamReader reader = new StreamReader(postStream);
        string responseFromServer = reader.ReadToEnd();
  
        string tokenInfo = responseFromServer.Split(',')[0].Split(':')[1];
        
        return tokenInfo.Trim().Substring(1, tokenInfo.Length - 3);
    }

    public JObject GetUser(string accessToken)
    {
        /*Do http get request to the URL to get the client info in json*/ 
        HttpWebRequest webRequest1 = (HttpWebRequest)WebRequest.Create("https://discordapp.com/api/users/@me");
        webRequest1.Method = "Get";
        webRequest1.ContentLength = 0;
        webRequest1.Headers.Add("Authorization", "Bearer " + accessToken);
        webRequest1.ContentType = "application/x-www-form-urlencoded";
  
        string apiResponse1 = "";
        using (HttpWebResponse response1 = webRequest1.GetResponse() as HttpWebResponse)
            {
                StreamReader reader1 = new StreamReader(response1.GetResponseStream());
                apiResponse1 = reader1.ReadToEnd();
            }
            /*End*/
            return JObject.Parse(apiResponse1);
        }

        public string loginURL()
        {
            return $"https://discordapp.com/api/oauth2/authorize?response_type=code&client_id={client_id}&scope=identify%20guilds.join&state=15773059ghq9183habn&redirect_uri={redirect_url}";
        }

}