
@using global::Discord.WebSocket
@using Dikubot.Discord.Command
@using Dikubot.DataLayer.Logic.User
@using Dikubot.DataLayer.Static
@using Dikubot.Discord
@using global::Discord
@using Azure.Core
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OAuth
@using Microsoft.AspNetCore.Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IJSRuntime jsRuntime
@using Microsoft.Net.Http
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Options
@using Newtonsoft.Json.Linq
@using System.Net.Http.Headers
@using System.Security.Claims
@using global::Discord.Rest
@using System.Configuration
@using System.IO
@using System.Net
@using System.Text
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.DataLayer.Database.Global.Session.DiscordAuthentication
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using Microsoft.Extensions.Configuration
@using Color = MudBlazor.Color

@inject NavigationManager Navigation;
@inject IHttpContextAccessor httpContextAccessor;

<link href="css/diku/login.css" rel="stylesheet"/>
<h1>Velkommen til KULiv</h1>



@if ((discordUser == null || !discordUser.HasClaim(claim => claim.Issuer == "Discord")) && !loading)
{
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h6">Log-in med Discord</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body1">For at tilgå KULiv, skal du logge ind med en Discord bruger.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudLink Href="/login"><MudButton Variant="Variant.Filled" Color="Color.Primary">Login med Discord</MudButton></MudLink>
            <MudLink><MudButton Variant="Variant.Text" Color="Color.Primary">Skriv til admin@kuliv.dk for hjælp</MudButton></MudLink>
        </MudCardActions>
    </MudCard>
}
else
{
    <Loading></Loading>

}


@code {
    [Parameter]
    public Login parent { get; set; }
    
    [Parameter]
    public string AuthCode { get; set; }

    private Authenticator authenticator;
    private ClaimsPrincipal discordUser;
    private string client_id, client_secret, redirect_url;
    private bool loading;
    private DiscordAuthenticationModel _discordAuthenticationModel;


    protected override async Task OnInitializedAsync()
    {
        discordUser = httpContextAccessor.HttpContext?.User;
    }


    private async Task RejectDiscord()
    {
        discordUser = null;
        await OnInitializedAsync();
        await InvokeAsync(() => { StateHasChanged(); });
        Navigation.NavigateTo("/Logout", true);
    }

    private async Task ApproveDiscord()
    {
        
        UserGlobalServices userServices = new UserGlobalServices();
        var id = ulong.Parse(discordUser.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value).ToString();

        if (!userServices.Exists(model => model.DiscordId == id))
        {
            UserGlobalModel userModel = new UserGlobalModel {DiscordId = id};
            userServices.Upsert(userModel);
        }
        
        await authenticator.UpdateSession();
        parent.Update();
    }
    

}