@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using global::Discord.WebSocket
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.DataLayer.Database.Global.User
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Velkommen til KU-Liv</h1>
<div class="card w-auto h-auto shadow">
    <div class="card-body">
        <h5 class="card-title">Hvad er dit fulde navn?</h5>
        <div class="textFieldDiv">
            <Field>
                <FieldLabel>Fulde navn</FieldLabel>
                <TextEdit Placeholder="Fornavn Efternavn"
                          Style="padding-bottom: 5px" Class="text-field"
                          @bind-Text="name" Autofocus="true"/>
            </Field>
            <Button Clicked="@ConfirmName">Bekræft Navn</Button>
        </div>

    </div>
</div>


@code {

    [Parameter]
    public Login parent { get; set; }

    private Authenticator authenticator;
    private UserIdentity user;
    private string name = "";

    protected override async Task OnInitializedAsync()
    {
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity) authState.User.Identity;
    }

    private async void ConfirmName()
    {
        SocketGuild guild = authenticator.GetGuild();
        IReadOnlyCollection<SocketGuild> mutualGuilds = DiscordBot.Client.GetUser(user.UserGlobalModel.DiscordIdLong).MutualGuilds;
        foreach (SocketGuild mutualGuild in mutualGuilds)
        {
            try
            {
                await guild.GetUser(Convert.ToUInt64(user.UserGlobalModel.DiscordId)).ModifyAsync(guildUser =>
                {
                    guildUser.Nickname = name;
                });
            }
            catch (Exception e)
            {
                // ignored, this only happens when the bot doesn't have access to change the user's name
            }

        }
        user.UserGlobalModel.Name = name;
        new UserGlobalServices().Upsert(user.UserGlobalModel);
        SessionModel sessionModel = new SessionModel(user.UserGlobalModel);
        await authenticator.UpdateSession(sessionModel);
        parent.Update();
    }

}