@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using global::Discord.WebSocket
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.DataLayer.Database.Global.User
@using Dikubot.DataLayer.Static
@inject AuthenticationStateProvider AuthenticationStateProvider

<link href="css/diku/login.css" rel="stylesheet"/>
<h1>Velkommen til KULiv</h1>
<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Hvad er dit fulde navn?</MudText>
    </MudCardHeader>
    <MudCardContent>
        <MudTextField Placeholder="Fulde navn"
                      @bind-Value="name" Immediate="@true" Autofocus="@true" />
    </MudCardContent>
    <MudCardActions>
        <MudButton OnClick="@ConfirmName">Bekræft Navn</MudButton>
    </MudCardActions>
</MudCard>


@code {

    [Parameter]
    public Login parent { get; set; }

    private Authenticator authenticator;
    private UserIdentity user;
    private string name = "";

    protected override async Task OnInitializedAsync()
    {
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        user = (UserIdentity) authState.User.Identity;
    }

    private async void ConfirmName()
    {
        IReadOnlyCollection<SocketGuild> mutualGuilds = DiscordBot.Client.GetUser(user.UserGlobalModel.DiscordIdLong).MutualGuilds;
        user.UserGlobalModel.Name = name;
        new UserGlobalServices().Upsert(user.UserGlobalModel);
        Util.UpdateUserNameOnAllForcedGuilds(DiscordBot.Client.GetUser(user.UserGlobalModel.DiscordIdLong));
        SessionModel sessionModel = new SessionModel(user.UserGlobalModel);
        await authenticator.UpdateSession(sessionModel);
        parent.Update();
    }

}