@using Dikubot.Webapp.Logic
@using global::Discord.WebSocket
@using Dikubot.Discord.Command
@using Dikubot.Database.Models
@using Dikubot.Database.Models.Session
@using Dikubot.DataLayer.Static
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Velkommen til DIKU's Discord Server</h1>
<div class="card w-auto h-auto shadow">
    <div class="card-body">
        <h5 class="card-title">Bekræft din email</h5>
        <div class="textFieldDiv">
            <BFUTextField Label="Vi skal bruge din email, for at bekræfte du går på KU" Placeholder="xyz123@alumni.ku.dk" 
                          Style="padding-bottom: 5px" ClassName="text-field"
                          Required="true" OnInput="@(OnEmailChange)" ErrorMessage="@errorMessage"/>
            <BFUPrimaryButton Text="Send Email"></BFUPrimaryButton>
        </div>
    </div>
</div>

        

@code {
    [Parameter]
    public Login parent { get; set; }
    
    private Authenticator authenticator;
    private string email = "";
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        authenticator = ((Authenticator) AuthenticationStateProvider);
        var authState = await authenticator.GetAuthenticationStateAsync();
        UserIdentity user = (UserIdentity) authState.User.Identity;
    }

    private void OnEmailChange(string value)
    {
        email = value;
        if (email != "" && !Util.IsKUEmail(email))
        {
            errorMessage = "Dette er ikke en godkendt KU email";
            return;
        }
        errorMessage = "";
    }
    

}