@using Dikubot.DataLayer.Database.Global.GuildSettings
@using Dikubot.DataLayer.Database.Global.Union
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime;
@inject UserService UserService;
@inject NavigationManager NavigationManager
@inject GuildSettingsMongoService GuildSettingsMongoService

@if (!_loaded)
{
    <Loading/>
}
else
{
    <div style="min-width: 70vw;">
        <Searchbar Items="Models" Context="UnionModel">
            <TemplateRow Context="unionModel">
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <UnionWidget Union="unionModel" IsChangeGuild="true" ShowBanner="true"/>
                </MudItem>
            </TemplateRow>
        </Searchbar>
        <MudButton Color="@Color.Primary" FullWidth="@true" OnClick="@GotoAddGuild" Style="margin-top: 15px;" Variant="Variant.Outlined">Tilføj dit eget fælleskab til KULiv</MudButton>
    </div>
}

@code {

    [Parameter]
    public Login Parent { get; set; }

    private bool _loaded = false;

    [Parameter]
    public List<GuildWidgetDto> Guilds { get; set; }

    public List<UnionModel> Models { get; set; }

    protected override void OnInitialized()
    {
        HashSet<ulong> userGuilds = UserService.GetGuilds().Select(model => model.Id).ToHashSet();

        List<UnionModel> list = GuildSettingsMongoService.Get()
            .Where(model => model.IsPublic
                            || model.ForceVerified ||
                            userGuilds.Contains(model.GuildId))
            .OrderBy(model => userGuilds.Contains(model.GuildId))
            .ThenBy(model => model.Name)
            .Select(model => new UnionModel(model)).ToList();


        Models = list;

        _loaded = true;
        base.OnInitialized();
    }


    private void GotoAddGuild()
    {
        NavigationManager.NavigateTo("/addguild");
    }


}