@using Dikubot.Webapp.Authentication
@using global::Discord
@using global::Discord.WebSocket
@using Dikubot.DataLayer.Database.Global.GuildSettings
@using Dikubot.DataLayer.Database.Global.Session
@using Dikubot.Discord
@using Dikubot.Webapp.Pages
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime;
@inject UserService UserService;

@using Dikubot.DataLayer.Database.Global.GuildSettings
@using Microsoft.IdentityModel.Tokens
@inject NavigationManager NavigationManager
@inject GuildSettingsMongoService GuildSettingsMongoService

@using Dikubot.Extensions.search
@using Dikubot.DataLayer.Database.Global.GuildSettings;
@using Dikubot.Webapp.Extensions.Discovery.Links
@using System.Reflection
@using Dikubot.DataLayer.Database.Global.Union
@using Color = MudBlazor.Color

@if (!_loaded)
{
    <Loading/>
}
else
{
    <div style="min-width: 70vw;">
        <Searchbar Items="Models" Context="UnionModel">
            <TemplateRow Context="unionModel" >
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <UnionWidget Union="unionModel" IsChangeGuild="true" ShowBanner="true"/>
                </MudItem>
            </TemplateRow>
        </Searchbar>
        <MudButton Color="@Color.Primary" FullWidth="@true" OnClick="@GotoAddGuild" Style="margin-top: 15px;" Variant="Variant.Outlined">Tilføj dit eget fælleskab til KULiv</MudButton>
    </div>
}
   
@code {
    [Parameter]
    public Login Parent { get; set; }

    private bool _loaded = false;
    
    [Parameter] public List<GuildWidgetDto> Guilds { get; set; }
    
    public List<UnionModel> Models { get; set; }

    protected override void OnInitialized()
    {
        var userGuilds = UserService.GetGuilds().Select(model => model.Id).ToHashSet();
        
        var list = GuildSettingsMongoService.Get()
            .Where(model => model.IsPublic 
                            || model.ForceVerified ||
                userGuilds.Contains(model.GuildId))
            .OrderBy(model => userGuilds.Contains(model.GuildId))
            .ThenBy(model => model.Name)
            .Select(model => new UnionModel(model)).ToList();


        Models = list;

        _loaded = true;
        base.OnInitialized();
    }
    
    
   
    
    private void GotoAddGuild()
    {
        NavigationManager.NavigateTo("/addguild");
    }
    
    
}
