@page "/op/announcements"
@using global::Discord.WebSocket
@using Data.Discord
@using Dikubot.Discord
@using Dikubot.Webapp.Authentication
@using  Dikubot.DataLayer.Database.Global.GuildSettings
@using Dikubot.DataLayer.Database.Guild.Models.Channel.TextChannel
@inject UserService _userService;

@attribute [Authorize(Roles = Permissions.GlobalAdmin)]

<h3>Announcements</h3>
<MudText Typo="Typo.body1"> Denne besked bliver sendt til alle "News Channels" </MudText>

<MudInputString Label="Besked" Variant="Variant.Outlined"  Lines="3" @bind-Value="_message"></MudInputString>

<MudButton OnClick="SendMessage"> test :D </MudButton>



@code {
    private string _message = "";
    private UserIdentity user;
    private SocketGuild _guild;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _guild = _userService.getGuild();
        
    }
    
    public async Task SendMessage()
    {
        var guilds = DiscordBot.ClientStatic.Guilds;

        foreach (var guild in guilds)
        {
            TextChannelServices textChannelServices = new TextChannelServices(guild);
            try
            {
                var newsChannels = textChannelServices?.Get()?.FindAll(model => model.IsNewsChannel ?? false) ?? new List<TextChannelMainModel>();
                foreach (var textChannel in newsChannels ?? new List<TextChannelMainModel>())
                {
                    var channel = guild.GetTextChannel( Convert.ToUInt64(textChannel.DiscordId)); // channel id
                    await channel.SendMessageAsync(_message);
                }
                
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
        
    }
}