@page "/discovery"
<h3>Discovery</h3>

<MudGrid>
    <MudItem xs="12">
        <MudCard>
            <MudCardHeader>
                <MudText> Unions </MudText>
            </MudCardHeader>
            <MudCardActions>
                <MudButton Href="/discovery/unions" Variant="Variant.Filled" Color="Color.Default">More </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard>
            <MudCardHeader>
                <MudText> Events </MudText>
            </MudCardHeader>
            <MudCardActions>
                <MudButton Href="/discovery/events" Variant="Variant.Filled" Color="Color.Default">More </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12">
        <MudCard>
            <MudCardHeader>
                <MudText> Calendar </MudText>
            </MudCardHeader>
            <MudCardActions>
                <MudButton Href="/discovery/calendar" Variant="Variant.Filled" Color="Color.Default">More </MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    
    

</MudGrid>

@code {
    
}