@page
@model Dikubot.Webapp.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Error</title>
</head>

<body>
<div class="main">
    <div class="content px-4">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        <p>Contact admin@kuliv.dk if this is a recurring issue.</p>
    </div>
</div>
</body>

</html>