@page "/oldlogout"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;

<h3>Logger ud...</h3>

@code {

    protected override Task OnInitializedAsync()
    {
        try
        {
            NavigationManager.NavigateTo("/logout", true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
        return Task.CompletedTask;
    }

}