@page "/Sponsorater"
<h3>Sponsorater og Sammenarbejde</h3>
Hvis du godt kunne tænke dig enten at sponsorer KULiv.dk eller indgå et sammenarbejde med os send en mail på
admin@kuliv.dk

<h4> Non-profit og Pulje </h4>
Vi arbejder for at styrke studielivet, derfor vil hovedparten af et sponsorer gå til de studerende.
Dette kunne bl.a. være en pulje, men det aftales nærmere, hvis der ønske at sposorer KULiv.dk

<h4> Indebærer/tilbyde </h4>
Vi kan tilbyde at man blive vidst relevante steder og mulighed for link m.m., kontakt os for at høre mere.
Da løsninger vil laves efter behov.

<h4> Hvad det bl.a. ikke indebærer </h4>
Vi giver ikke personlige oplysninger eller andet videre uden aktiv samtykke fra den studerende.






@code {
    
}