@page "/MapTest"
@using Dikubot.Webapp.Extensions.Maps
<h3>MapTest</h3>


<MudText> @_adresse?.tekst </MudText>
<GetLocation @bind-Value="_adresse"/>


<MudButton OnClick="AddPlace"> ADD</MudButton>
<MudButton OnClick="Show"> Show</MudButton>
@foreach (var item in Places)
{
    <MudText> @item.forslagstekst</MudText>
}

@if (ShowMaps)
{
    <MapWidget @bind-Places="@Places"/>
}

@code {
    private Adresse _adresse = new Adresse();
    private List<Adresse> Places = new List<Adresse>();

    private bool ShowMaps = false;
    
    public void AddPlace()
    {
        Places.Add(_adresse);
    }

    public void Show() => ShowMaps = true;

}