@inject IJSRuntime JS


@foreach (Adresse item in Places)
{
    <span
        class="geomarker"
        data-title="@item?.tekst"
        data-description="@item?.forslagstekst"
        data-address="@item?.forslagstekst">
    </span> 
}


    <div
      id="map"
      class="geomap"
      data-center="auto"
      data-token="7022590d3ed450230079f7b2dccb7abf"
      style="height: 400px;">
    </div>


@code {

    [Parameter]
    public List<Adresse> Places { get; set; }

    [Parameter]
    public EventCallback<List<Adresse>> PlacesChanged { get; set; }

    Object test;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
             JS.InvokeAsync<object>("ShowMaps");
        }
    }

    protected override void OnParametersSet()
    {
        
        StateHasChanged();
    }


}