.guild-widget-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 562px) {
    .guild-widget-collection {
        width: 70%;
    }
}

@media only screen and (max-width: 562px) {
    .guild-widget-collection {
        width: 80vw;
    }

}


@media only screen and (min-width: 900px) {
    .guild-widget-collection {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .guild-widget-collection {
        width: 80vw;
    }
}

.guild-widget-collection>.widget {
    
}