.page {
    width: 100vw; 
    height: 100vh;
}

.blur {
    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
    background-color: #F5F5F5;
    background-image: url('../../images/DIKU.jpg');
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    animation: movebackground 30s infinite; */
    background-position: bottom left;
    animation-delay: 1s;
    background-size: cover;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    transform: scale(1.1);
}

@keyframes movebackground {
    50% {background-position: top right; }
}

.login {
    width: 100vw; 
    height: 80vh; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.965;
}

h1 {
    color: white;
    text-shadow: 1.5px 0 0 #000, 0 -1.5px 0 #000, 0 1.5px 0 #000, -1.5px 0 0 #000;
}