h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 46px;
    color: white;
}

.search-bar {
    width: 35vh;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

.other-communities {
    margin-top: 100px;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}